[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toolz = "*"
colorama = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipython = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
